.input-group-text {
    background-color: $color-gray;
}

form {
    background-color: $color-dark;
    border-radius: 10px;

    .btn-dark-gray {
        width: 100%;
        border-radius: 10px;
    }

    .form-label {
        color: $color-dark-gray;
    }

    
}

.form-control {
    background: $color-white;
}

.textarea.form-control {
    min-height: calc(6em + 0.75rem + 2px);
}

.contact-info {
    display: flex;
    flex-direction: column;
    color: $color-dark-gray;

    i {
        margin-bottom: 30px;
        display: flex;
        flex-direction: row;
    }
    
    h3{
        font-family: 'Lato', serif;
        font-size: 0.6em;
        padding-left: 30px;
    }
}

.row h2 {
    margin: 25px 0px;
}

.form-container {
    padding: 20px 30px;
    box-shadow: 0px 2px 5px 0px #111;
    border-radius: 10px;
}