.col {
    margin-bottom: 30px;
}

.btn-news {
    margin-bottom: 20px;
    border: $border-style;
    margin-left: 3px;
}

.w-100 {
    color: $color-white;
}

.card {
    border-radius: 15px;
}

.card-img-top {
    min-height: 150px;
}