// custom
$color-primary: #e92569;
$color-secondary: #0a0a0a;
$color-dark: #efefef;
$color-white: #fff;
$color-gray: #c7c7c7;
$color-dark-gray: #767676;


// bootstrap
$theme-colors: (
    "dark": $color-dark,
    "primary": $color-primary,
    "white": $color-white,
    "gray": $color-gray,
    "dark-gray": $color-dark-gray,
);

$primary: $color-primary;
$secondary: $color-secondary;

$input-placeholder-color: #767676;

$font-family-base: "Lato", serif;
$headings-font-family: "Playfair Display", sans-serif;

$border-style: 1px solid $color-primary;

body {
    background: radial-gradient(#fff, #eeeeee);
}

@import "~bootstrap/scss/bootstrap";

@import "./partials/tabs";
@import "./partials/carousel";
@import "./partials/typography";
@import "./partials/nav";
@import "./partials/news";
@import "./partials/contact";
@import "./partials/footer";